@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color:#000000;
  }

.page-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.catalog-page-header {
    color: #000000;
    background-color: #ffffff;
}

.page-header .button {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}

.main-navigation a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
}

.catalog-housing {
    color: #000000;
    background-color: #ffffff;
}


.welcome {
    background-image: url("../images/background/sedona-view-main.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.about-sedona {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.about-sedona-reasones {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
}

.advantages h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.advantage-item .blue {
    background-color: #82B3D3;
    color: #ffffff;
}

.button-brown {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
  }

  .button-blue {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
  }

  li .button-brown {
    color: #ffffff;
  }

  .searh-hotel {
    text-align: center;
  }


  .searh-hotel-invite {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }

  .searh-hotel-link {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
  }

  .subscibe-index {
    text-align: center;
    background-image: url("../images/background/sedona-subscribe.jpg");
    background-size: 100% auto;
    background-repeat: none;
    background-color: #000000;
    color: #ffffff;
  }



  .subscibe-invite {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }

  .subscibe-index p {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
  }

  .footer-sedona {
    background-color: #ffffff;
    color: #000000;
  }
  
  .phone-footer a {
    text-decoration: none;
    color: inherit;
    font-size: 40px;
    line-height: 40px;
  }

  .housing-appropriate-list a {
    text-decoration: none;
  }

  .catalog-housing-requirements {
      color: #FFFFFF;
      background-image: url("../images/background/sedona-catalog-hotels.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-color: #ffffff;
      color: #000000;
  }

  .catalog-housing-requirements h1 {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #ffffff;
  }

  .breadcrumbs {
    color: #ffffff;
  }

  .housing-conveniences-filter {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
  }

  .housing-type-filter {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
  }

  .housing-conveniences-list {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .housing-type-list {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .housing-appropriate-list {
    color: #333333;
  }
  
  .housing-appropriate-list-name {
    color: #000000;
  }

  .cheap {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .suitable {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .hotels-list h3 {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }

  .hotels-list span {
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .hotels-list a {
    text-decoration: none;
  }

  .rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .pagination {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  
  .number-of-hotels {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .subscribe-catalog {
    text-align: center;
  }
  
  .subscribe-catalog h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }

  .subscribe-catalog p {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
  }

  .button {
      color: #ffffff;
      font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .advantage-item-picture-sedona {
    display: block;
  }