@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  margin: 0 auto;
  min-height: 100%;
}

/*хедер в индексе и каталоге*/

.logo-sedona {
  margin: 0 30px 5px 70px;
  padding: 0;
  width: 139px;
  height: 70px;
}

.header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  height: 65px;
}

.navigation-list {
  display: flex;
  margin: 0 237px 0 0;
  padding: 20px 45px 0 0;
  width: 390px;
  list-style-type: none;
  justify-content: space-around;

}

.user-navigation {
  display: flex;
  margin: 0 70px 0 auto;
  width: 364px;
  padding: 20px 17px;
  list-style-type: none;
  margin: 0;
}

.user-navigation-item.select-hotel {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

/* ссылки в хедерах*/

.select-hotel {
  color: #ffffff;
}

.navigation-item-link {
  color: #000000;
  text-decoration: none;
}

/*ссылки в хедерах конец*/

/*конец хедер в индексе и каталоге*/

/*главная картинка в индексе*/

.welcome {
  background: url("../images/background/sedona-view-main.jpg") no-repeat #000000;
  background-size: 100% auto;
  height: 485px;
}

/*главная картинка в индексе конец*/

/*преимущества седоны на главной*/
.about-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.about-sedona-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  font-weight: 400;
  text-align: center;
}

.advantages .advantage-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantage-item .blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantage-list {
  list-style-type: none;
}

.advantage-item-detail {
  list-style-type: none;
}

/*конец преимущества седоны на главной*/

/*кнопки*/
.button-brown {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  width: 140px;
  height: 37px;
}



.button-blue {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  width: 140px;
  height: 37px;
}

.searсh-hotel.button-brown {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.button-reset {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/*конец кнопкам*/


/*каталог секция "заинтересовались?"*/
.searсh-hotel {
  text-align: center;
  display: block;
  height: 417px;
  margin: 0 auto;
  padding-top: 40px;
}

.searсh-hotel-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.searсh-hotel-link {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/*каталог секция "заинтересовались?" конец*/

/*подписаться на рассылку*/
.subscribe {
  display: block;
  margin: 0 auto;
  height: 411px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
}

.index-subscribe {
  background: url("../images/background/sedona-subscribe.jpg") no-repeat #000000;
  background-size: 100% auto;
  color: #ffffff;
}

.catalog-subscribe {
  display: block;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.index-subscribe .button-blue {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/*подписаться на рассылку конец*/

/*стили для телефона*/
.phone-number {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

/*стили для телефона конец*/

/*убираем подчеркивание с иконок выбора типа показа отелей*/

.botton-icon {
  text-decoration: none;
}

/*убираем подчеркивание с иконок выбора типа показа отелей конец*/

/*фильтры выбора гостиниц в каталоге*/

.housing-appropriate-list-name {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 0 auto;
  height: 393px;
}

.catalog-housing-requirements {
  background: url("../images/background/sedona-catalog-hotels.jpg") no-repeat #000000;
  background-size: 100% auto;
  color: #FFFFFF;
  padding: 35px 70px 70px 70px;
  margin: 0 auto;

}

.breadcrumbs {
  display: flex;
}

.catalog-housing-requirements .catalog-housing-hotels {
  display: block;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  width: 495px;
  height: 78px;
  list-style-type: none;
}

.breadcrumbs {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin: 0;
}

.breadcrumbs-item {
  margin: 0;
}

.housing-select {
  display: flex;
}

.housing-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.housing-filter {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  height: 149px;
}

.housing-filter.conveniences {
  width: 150px;
}

.housing-filter.type {
  width: 145px;
}

/*фильтры выбора гостиниц в каталоге конец*/

/*список подходящих гостиниц в мейне в каталоге*/

.hotels-list {
  margin: 56px 72px 66px 72px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 1056px;
  height: 876px;

}

.housing-appropriate-list {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.hotel-item {
  display: flex;
  width: 340px;
  height: 438px;
  padding: 20px;
  margin: 0;
  flex-wrap: wrap;
}

.hotel-card {
  width: 300px;
  height: 210px;
}

.housing-appropriate-list-filters {
  display: flex;
  margin: 50px 71px 56px 72px;
  width: 1059px;
  height: 49px;
}

.hotels-list .hotel-head {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotels-list .hotel-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotel-link-about {
  margin: 0;
}

.add-to-liked {
  margin: 0;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/*список подходящих гостиниц в мейне в каталоге конец*/


/*пагинация*/

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-current {
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/*пагинация конец*/



/*липкий футер*/

html {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*липкий футер конец - остальное в body*/



/*слоган  главная*/

.slogan-image {
  display: block;
  margin: 0 auto;
}

/*слоган  главная конец*/

/*седона заслуживает большего главная*/

.about-sedona {
  display: block;
  margin: 0 auto;
  height: 282px;
  padding: 63px 290px;
}

/*седона заслуживает большего главная конец*/

/*преимущества на главной*/

.advantage-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 1535px;
}

.advantage-item-text {
  width: 400px;
  height: 384px;
  margin: 0;
  flex-wrap: wrap;
  background-color: #83B3D3;
}

.advantages {
  display: flex;
}

.advantage-item {
  display: flex;
}

/*чтобы пункты с картинками вставали в ряд*/

/*выстраивает первый пункт и подпункты друг под другом*/

.advantage-item.real-town {
  display: block;
}

.real-town-description {
  display: flex;
}

.advantage-item-detail {
  display: flex;
  margin: 0;
  padding: 0;
}

/*выстраивает первый пункт и подпункты друг под другом конец*/

/*преимущество на главной конец*/

.advantage-item-text.blue {
  background-color: #82B3D3;
}

.advantage-item-pictured.real-town {
  display: flex;
}

.advantages-down {
  display: flex;
}

/*футер*/

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 120px;
}

.social {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-footer {
  width: 142px;
  height: 40px;
  margin: 45px 42px 35px 70px;
}

.social-item {
  margin: 0 10px;
}

.phone-footer {
  text-align: center;
  width: 720px;
  height: 50px;
  margin: 40px 53px 30px 0;
  padding: 5px 194px 5px 195px;
}

.htmlacademy-logo-footer {
  width: 115px;
  height: 34px;
  margin: 43px 72px 43px auto;
  padding: 0;
}

/*футер конец*/

/*мейн в каталоге*/

.housing-search-filters {
  display: flex;
}

.housing-filter.conveniences {
  width: 150px;
  height: 149px;
  margin-right: 70px;
}

.housing-filter.conveniences {
  width: 150px;
  height: 149px;
  margin-right: 70px;
}

.housing-filter.type {
  width: 146px;
  height: 149px;
  margin-right: 176px;
}

/*мейн в каталоге конец*/

/*пагинация*/

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
